# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# Node / React
node_modules/
build/
dist/

# Configs & Secrets
.env
config/aws_config.py
backend/contract_info.json

# System
.DS_Store
*.log
